<div class="panel-pundit-area">
	<% if @polititians.any? %>
		<% @polititians.each do |pundit|%>
			<div class="panel-pundit">
				<div class="pundit-info">
					<h3>@<%= pundit.twitter_handle %></h3>
					<br />
					<div class="edit-button">
						<%= link_to "Edit Pundit", edit_polititian_path(pundit)%>
					</div>
					<div class="delete-button">
						<%= button_to "Delete", pundit, method: :delete, 
												data: {confirm: "Delete: @#{pundit.twitter_handle}?"} %>
					</div>
				</div>
				
				
			</div>
		<% end %>
	<% end %>
</div>
