<div class="bar">
		<ul>
			<li class="home-link"><%= link_to "Home", root_path %></li>
			<li class="home-link"><%= link_to "edit panel", admin_panel_path %></li>
			<li><%= button_to 'Logout', destroy_admin_session_path, method: :delete %></li>
		</ul>
</div>
