<div class="head-area">
	<div class="header-text">
		<h1>Welcome To Politichirp</h1>
		<p>
			Home of the craziest things ever said
		</p>
	</div>
</div>

<div class="pundit-area">
	<% if @polititians.any? %>
		<% @polititians.each do |p|%>
			<%= render partial: 'polititians/polititian', locals: {polititian: p} %>
		<% end %>
	<% end %>
</div>
